<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <fieldset>
            <label for="firstname">Enter first name</label>
            <br/>
            <input type="text" name="firstname" id="firstname">
            <br/>
            <label for="lastname">Entet last name</label>
            <br/>
            <input type="text" name="lastname" id="lastname">
            <br/>
            <label for="email">Enter email</label>
            <br/>
            <input type="email" name="email" id="email">
            <br/>
            <label for="password">Enter password</label>
            <br/>
            <input type="password" name="enterpassword" id="enterpassword">
            <br/>
            <label for="confirmpassword">Confirm password</label>
            <br/>
            <input type="password" name="confirmpassword" id="confirmpassword">
            <br/>
            <br/>
            <br/>

            <label for="male">Male</label>
            <input type="radio" name="Gender" id="male">
            <br/>
            <label for="male">Female</label>
            <input type="radio" name="Gender" id="female">
            <br/>
            <label for="male">Other</label>
            <input type="radio" name="Gender" id="other">
            <br/>
            <input type="submit" id="submit" value="Submit form">

        </fieldset>

    </form>
    
</body>
</html>