/*Importing Google fonts with import into the css*/
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Cookie&family=Inria+Sans:wght@300&family=Lobster&family=Playfair+Display&display=swap');

p {
    font-family: "Comforter";
}

.second_paragraph {
    font-family: "Oswald";
}

/*Link and visited pseudo classes*/
a.google:link {
    text-decoration: none;
    color: black;
}

a.google:visited {
    color: brown;
}

.search_button {
    background-color: gray;
    color: white;
}


.search_button:hover {
    background-color: darkgray;

}

.search_button:active {
    background-color: darkslateblue;
}

.search_button:focus{
    background-color: deeppink;
}

.search_input:focus {
    background-color: gold;
    border: 5px red solid
}

.block-level-div > p {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 218, 218);
    display: inline-block;
    width: 45%;
}

.navigation_menu {
    list-style-type: none;
}

.navigation_menu > li {
    display: inline-block;
}

.navigation_menu > li > a  {
    text-decoration: none;
}

.standard_box_model {
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.alternative_box_model {
    box-sizing: border-box;
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.margin_property {
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 10px;


/*Shorthand for margin*/
/* top right bottom left */
margin: 20px 15px 30px 10px;
/* top right&left bottom */
margin: 20px 15px 30px;
/* top&bottom left&right */
margin: 40px 10px;
/* all */
margin: 20px;
}

.padding_property {
    border: 1px solid black;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 5px;

    /* We use the same shorthands for padding as for the margin! */
    /* top right bottom left */
    padding: 20px 15px 30px 10px;
    /* top right&left bottom */
    padding: 20px 15px 30px;
    /* top&bottom left&right */
    padding: 40px 10px;
    /* all */
    padding: 20px;
    }

.border_property {
    margin: 10px;
    border-top-width: 5px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-color: black;
    border-style: dashed;

    /* top right bottom left */
    border-width: 2px 5px 3px 1px;
    /* top right&left bottom */
    border-width: 2px 5px 3px;
    /* top&bottom left&right */
    border-width: 4px 1px;
    /* all */
    border-width: 4px;
    
    border-color: black blue red green;
    }

    .border_property > span {
        background-color: black;
        color: white;
        width: 100px;
        height: 50px;
        display: inline-block;
    }

    .overflow_property {
        border: 2px solid black;
        width: 300px;
        height: 150px;
        overflow: scroll;
        margin: 20px;
    }

    .center_element {
        width: 300px;
        height: 150px;
        border: 1px solid black;
        margin: 0 auto;
    }
    
